<main class="contenedor">
    <img
      [src]="'assets/images/authImagenes/MonoCohete.jpeg'"
      alt="MonoCohete Mono"
      class="img"
    />
  
    <div class="form">
        
        <p-card>
            <div class="col-4">
               <button pButton type="button" label="Iniciar Sesión" (click)="iraLogin()"
        class="p-button-info"></button>  
            </div>
        
          <img
          [src]="'assets/images/authImagenes/Logo.png'"
          alt="MonoCohete Mono"
          class="logo"
        />
        <p>Bienvenid@, por favor registra tus datos personales</p>
        <p>Selecciona tu rol:</p>
        
        <div class="field col-12 form-element">

            <p-selectButton 
                [options]="types"
                (onOptionClick)="changeType($event)">   
            </p-selectButton>
        
        </div>

        <!--Formulario de estudiante-->
        <div class=" field col-12  form-element" >
            <span *ngIf="typeName == 'Estudiante'" >
                <app-ingreso-google></app-ingreso-google>
            </span>
        </div>

        <!--Formulario de profesor-->
        <div class=" field col-12  form-element" >
            <span *ngIf="typeName == 'Profesor'" >
                <app-form-profesor></app-form-profesor>
            </span>
        </div>


        
      </p-card>
    </div>
  </main>
  