<main class="contenedor">
  <img
    [src]="'assets/images/authImagenes/MonoLuna.jpg'"
    alt="MonoLuna Mono Luna"
    class="img"/>
  
  <div class="form">
    <div class="subContenedor">
      <br>
      <div class="boton">
        <button 
        routerLink="/signup" 
        pButton type="button" 
        label="Registrarse" 
        class="p-button-prymary"
        icon="pi pi-sign-out" 
        iconPos="left"
        ></button>
      </div>
          
      <img
        [src]="'assets/images/authImagenes/Logo.png'"
        alt="MonoCohete Mono"
        class="logo"
      />

      <p>Bienvenid@, por favor ingresa tus datos para poder ingresar</p>
      <p class="rol">Selecciona tu rol:</p>

      <div class="field col-12 form-element">
        <p-selectButton 
          [(ngModel)]="typeName"
          [options]="types"
          (onOptionClick)="changeType($event)">   
        </p-selectButton>
      </div>

        <!--Formulario de estudiante-->
      <div *ngIf="typeName === 'Estudiante'" class=" field col-12  form-element" >
        <app-ingreso-estudiante></app-ingreso-estudiante>
      </div>

      <!--Formulario de profesor-->
      <div *ngIf="typeName === 'Profesor'" class=" field col-12  form-element" >
        <app-ingreso-profesor></app-ingreso-profesor>
      </div>
    </div>
  </div>
</main>