<body>
  <h1 align= "center">Conoce un poco más sobre nosotros ...</h1>
  <div class="noticia">
    <h5 align="center">Objetivo Principal</h5>
  <br>
    <img class="izquierda" src="../../../../../assets/images/Aboutus/mision.jpeg">
    <aside>Desarrollar el módulo de matemáticas y español para grados de primaria para el prototipo de la plataforma digital Sign To All que busca el apoyo en el aprendizaje de niños con discapacidad auditiva del Colegio Pablo de Tarso. </aside>
    <div class="reset"></div>
  </div>
  
  <div class="noticia">
    <h5 align="center">Colaboraciones</h5>
  <br>
    <img class="derecha" src="../../../../../assets/images/Aboutus/vision2.png">
    <aside>Dentro de las colaboraciones es importante resaltar el apoyo de los docentes y directivas del colegio Pablo de Tarso quienes nos dieron de su tiempo para responder las encuestas y además nos facilitaron material que trabajan con los niños. 
    A la docente Yudy Narváez quien es la directora de este proyecto, que desde su experiencia y conocimiento nos ha apoyado durante todo el proceso.  </aside>
    <div class="reset"></div>
  </div>
  
  <div class="noticia">
    <h5 align="center">Creadores</h5>
  <br>
    <!--<img class="izquierda" src="https://cdn.pixabay.com/photo/2015/01/09/11/08/startup-594090_960_720.jpg">-->
    <aside> 
      <ul>
        <li> Cesar Leonardo Figueroa Cruz - <a class="white-text email" href="mailto:clfigueroa@ucundinamarca.edu.co">clfigueroa@ucundinamarca.edu.co</a></li>
        <li> Luz Adriana Yara Tique - <a class="white-text email" href="mailto:layara@ucundinamarca.edu.co">layara@ucundinamarca.edu.co</a></li>
        <li> Dayana Aranda Penagos - <a class="white-text email" href="mailto:darandap@ucundinamarca.edu.co">darandap@ucundinamarca.edu.co</a></li>
        <li> Danilo Arturo Varon Silva - <a class="white-text email" href="mailto:davaro@ucundinamarca.edu.co">davaron@ucundinamarca.edu.co</a></li>
        <li> Niyireth Lorena Cortés Ballesteros - <a class="white-text email" href="mailto:nlcortes@ucundinamarca.edu.co">nlcortes@ucundinamarca.edu.co</a></li>
      </ul>
    </aside>
    <div class="reset"></div>
  </div>
  
</body>