<div class="grid list-demo">
	<div class="col-12">
		<div class="card">
			<p-dataView #dv [value]="products" [paginator]="true" [rows]="9" filterBy="name"
						[sortField]="sortField" [sortOrder]="sortOrder" layout="grid">
				<ng-template pTemplate="header">
					<div class="flex flex-column md:flex-row md:justify-content-between">
						<p-dropdown [options]="sortOptions" placeholder="Ordenar actividades" (onChange)="onSortChange($event)" styleClass="mb-2 md:mb-0"></p-dropdown>
						<span class="p-input-icon-left mb-2 md:mb-0">
                    <i class="pi pi-search"></i>
                    <input type="search" pInputText placeholder="Buscar" >
                </span>
						<p-dataViewLayoutOptions></p-dataViewLayoutOptions>
					</div>
				</ng-template>

				<ng-template let-product pTemplate="listItem">
					<div class="col-12">
						<div class="product-list-item card">
							<img [src]="'assets/images/' + product.image" [alt]="product.name"/>
							<div class="product-list-detail">
								<div class="product-name">{{product.name}}</div>
								<p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating>
								
							</div>
							<div class="product-list-action">
								<span class="product-price">           
                                    <button pButton pRipple type="button" icon="pi pi-window-maximize" class="p-button-rounded p-button-warning"></button>
                                    <br>
                                    <p-tag styleClass="mr-2" severity="success">{{product.inventoryStatus}}</p-tag>
                                </span>
								
								<span></span>
							</div>
						</div>
					</div>
				</ng-template>

				<ng-template let-product pTemplate="gridItem">
					<div class="col-12 md:col-4">
						<div class="product-grid-item card">
							<div class="product-grid-item-top">
								<p-tag styleClass="mr-2" severity="success" >{{product.inventoryStatus}}</p-tag>
							</div>
							<div class="product-grid-item-content">
								<img [src]="'assets/images/' + product.image"  [alt]="product.name"/>
								<div class="product-name">{{product.name}}</div>
                             					
								<p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating>
							</div>
							<div class="product-grid-item-bottom">
								
								<button pButton pRipple type="button" icon="pi pi-window-maximize" class="p-button-rounded p-button-help"
                                (click)="IrSopNum()"></button>
							</div>
						</div>
					</div>
				</ng-template>
			</p-dataView>
		</div>
	</div>

	
</div>
