<div class="home">
  <div class="colegio">
    <nav class="navbar navbar-expand-sm">
      <div class="container-fluid">
        <!-- Links -->
        <ul class="navbar-nav">
          <!-- <button pButton pRipple type="button" label="Cerrar sesión" 
          class="p-button-raised p-button-info p-button-text" (click)="authService.logout()" ></button> -->
        </ul>
        <img style="width: 12rem; border-radius: 8px;" src="../../../../assets/images/ui/Escudo-colegio.png">
      </div>
    </nav>
  </div>
    <div class="flex">
      <div *ngIf="esPro!=='1'">
        <app-panel-menu></app-panel-menu>
      </div>
      <div *ngIf="esPro==='1'">
        <button pButton pRipple type="button" icon="pi pi-bookmark" class="p-button-rounded p-button-secondary" routerLink="/docente/crud"></button>
      </div>
        
        <p-divider layout="vertical"></p-divider>
        <div>
            <app-breadcrumb></app-breadcrumb>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>