<div class="home">
    <nav class="navbar navbar-expand-sm bg-light">

        <div class="container-fluid">
          <!-- Links -->
          <ul class="navbar-nav">
           
            
          </ul>
          <img style="width: 15rem; margin-left: 5%;border-radius: 5%;" src="../../../../assets/images/ui/Escudo-colegio.png">
        </div>
      
      </nav>
    <div class="flex">
        <app-panel-menu></app-panel-menu>
        <p-divider layout="vertical"></p-divider>
        <div>
            <app-breadcrumb></app-breadcrumb>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>