img{
    border-radius: 8px;
    width: 200px;
    height: 300px;
    object-position: 0px;
    box-shadow: 0px 0px 10.5px transparent;
}
.espacio{height: 55px; 
    margin: 3px;
    margin-bottom: 3px;
    font-weight: bold;
}
.grid-container {
    display: grid;
    margin-top: 15px;
    width: 100%;
    background-color: #F0EEEE;
    border-radius: 10px;
    h2{
        margin-bottom: -10px;
        font-weight: bold;
        
    }
}
.grid-container2 {
    display: grid;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
    border-radius: 10px;
}
.img-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #FEEDAF;
    border-radius: 10px;
    .fruta{
        width: 300px;
        height: 300px;
    }
}
.center{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-bottom: 10px;
}