<div class="grid-container">
    <p-toast></p-toast>
    <h2 style="margin-left: 10px;">Ahorcado</h2>
    <p-divider></p-divider>
    <app-indicaciones [video]="video" [indicaciones]="indicaciones"></app-indicaciones>
    <div class="grid-container2">
        <div class="img-container">
            <div class="flex">
                <div>
                    <img src="../../../../../assets/images/ActEspañol/ahorcado/{{ intentos }}.png" class="ahorcado-img">
                </div>
                <p-divider type="dashed" layout="vertical"></p-divider>
                <div>
                    <img  class="fruta" src="../../../../../assets/images/ActEspañol/ahorcado/frutas/{{frutaSrc}}" alt="">
                </div>
            </div>
        </div>
        <h3>Intentos <small> {{ intentos }} / 9</small></h3>
        <div class="col text-center">
            <h2>{{palabraOculta}}</h2>
        </div>
    </div>
    
    <div class="row" *ngIf="!gano && !perdio">
        <div class="col text-center">
            <button pButton (click)="comprobar( letra )" *ngFor="let letra of letras" class="p-button-warning espacio">{{letra}}</button>
        </div>
    </div>
    <div class="center">
        <button pButton (click)="generarFruta()" type="button" label="nuevo" icon="pi pi-spin pi-spinner" iconPos="left"  class="p-button-info"></button>
    </div>
</div>