:host {
    border: 1px dotted lightblue;
    color: gray;
    display: inline-block;
    width: 150px;
    height: 150px;
  }
  
  .container {
    color: grey;
    display: inline-block;
    font-family: sans-serif;
    font-size: 40px;
    width: 100%;
    line-height: 150px;
    text-align: center;
  }