<button
    class="start"
    *ngIf="!boardServiceService.isInProgress()"
    (click)="boardServiceService.startGame()">
  Start Game
</button>

<button
    class="stop"
    *ngIf="boardServiceService.isInProgress()"
    (click)="boardServiceService.initGame()">
  Stop Game
</button>

<div *ngIf="boardServiceService.isInProgress()">
  <span>Moves: {{ boardServiceService.movesCount }}</span>
  <span>Time elapsed: {{ boardServiceService.elapsedSeconds }}</span>
</div>

<div *ngIf="boardServiceService.finished">
  <span>Congratulations! You did it in {{ boardServiceService.movesCount }} moves
    and {{ boardServiceService.elapsedSeconds }} seconds!</span>
</div>

