<h1>Rompecabezas</h1>
<hr>
<div class="grid-container">
	<div class="imagePuzzle">
		<div class="grid-container1">
			<div class="unsolvedPuzzle">
				<ul class="puzzle" dropzone="true">
					<li *ngFor="let img of Image" class="box" [draggable]="true" [id]="img.index" (dragstart)="onDragStart($event)"
						(drop)="onDrop($event)" (dragover)="allowDrop($event)" [style.width.px]="boxSize" [style.height.px]="boxSize"
						[ngStyle]="{'background-image':'url(' + imageUrl + ') ','background-repeat':'no-repeat', 'background-position': '' + img.x_pos + ' '  + img.y_pos + '','background-size':''+ (gridsize * 100) +'% '+ (gridsize * 100) +'%'}">
					</li>
				</ul>
			</div>
		</div>
		<div class="scoreboard">
			<h2 style="text-align: center;color: black;">{{nameImg}}</h2>
			<div class="finalImage" [ngStyle]="{'background-image':'url(' + imageUrl + ') '}"></div>
			<h3 style="text-align: center;color: black;"> {{steps}} / Nivel de dificultad:</h3>
			<div class="difficulty-levels">
				<div class="input-group">
					<p-radioButton name="difficulty" value="2" [(ngModel)]="difficulty" label="Baja"(onClick)="startGame()"></p-radioButton>
				</div>
				<div class="input-group">
					<p-radioButton name="difficulty" value="3" [(ngModel)]="difficulty" label="Media"(onClick)="startGame()"></p-radioButton>	
				</div>
				<div class="input-group">
					<p-radioButton name="difficulty" value="4" [(ngModel)]="difficulty" label="Alta"(onClick)="startGame()"></p-radioButton>	
				</div>
			</div>
			<br>
			<div class="score-detail">
				<button pButton type="button" label="Nuevo" icon="pi pi-refresh" class="p-button-rounded" (click)="newGame()"></button>
				<button pButton type="button" label="Desorganizar" icon="pi pi-table" class="p-button-rounded p-button-secondary" (click)="reRandomize()"></button>
			</div>
		</div>
	</div>
</div>
<p-toast></p-toast>
