<div class="grid list-demo">
	<div class="col-12">
		<div class="card">
			<p-dataView #dv [value]="activity" [paginator]="true" [rows]="9" filterBy="name"
						[sortField]="sortField" [sortOrder]="sortOrder" layout="grid">
				<ng-template pTemplate="header">
					<div class="flex flex-column md:flex-row md:justify-content-between">	
						<span class="p-input-icon-left mb-2 md:mb-0">
                    <i class="pi pi-search"></i>
                    <input type="search" pInputText placeholder="Buscar" (input)="dv.filter($any($event.target).value, 'contains')" >
                </span>
						<p-dataViewLayoutOptions></p-dataViewLayoutOptions>
					</div>
				</ng-template>

				<ng-template let-activity pTemplate="listItem">
					<div class="col-12">
						<div class="product-list-item ">
							<div  [routerLink]=" activity.url_actividad" class="container">
								<img class="image" [src]="'assets/images/ACTIVIDADES'  + '/' + activity.url_imagen"  />
								<div class="midd">
									<div class="text2">{{activity.nombre_actividad}}</div>
								</div>
							</div>
							<div class="product-list-detail">
								<div class="product-name">{{activity.nombre_actividad}}
								</div>
								<p-rating [ngModel]="activity.nota_actividad" [cancel]="false"></p-rating>
								
							</div>
							<div class="product-list-action">
								<span class="product-price">
                                    <br>
                                   <p-tag  styleClass="mr-4" [severity]="evalueAct(activity.actividad_realizada)"> {{activity.actividad_realizada ? "REALIZADA" : "SIN HACER"}}</p-tag>     
                                </span>
								
								<span></span>
							</div>
						</div>
					</div>
				</ng-template>

				<ng-template let-activity pTemplate="gridItem">
					<div class="col-12 md:col-6" >
						<div class="product-grid-item card" >
							<div class="product-grid-item-top">
								<p-tag  styleClass="mr-4" [severity]="evalueAct(activity.actividad_realizada)"> {{activity.actividad_realizada ? "REALIZADA" : "SIN HACER"}}</p-tag>   
							</div>
							<div class="product-grid-item-content">
								<div [routerLink]=" activity.url_actividad" class="container">
									<img class="image" [src]="'assets/images/ACTIVIDADES'  + '/' + activity.url_imagen"  />
									<div class="middle">
										<div class="text">{{activity.nombre_actividad}}</div>
									</div>
								</div>
								<div class="product-name">{{activity.nombre_actividad}}</div>
								<p-rating [ngModel]="activity.nota_actividad" [cancel]="false"></p-rating>
							</div>
						</div>
					</div>
				</ng-template>
			</p-dataView>
		</div>
	</div>
</div>