
<p-toast></p-toast>

<div class="home">
    <nav class="navbar ">

        <div class="container-fluid">
          <!-- Links -->
          <ul class="navbar-nav">
          </ul>
          <img style="width: 12rem; border-radius: 8px;" src="../../../../assets/images/ui/Escudo-colegio.png">
        </div>
      
      </nav>

    <div class="flex" >
        <app-panel-docente></app-panel-docente>
        <p-divider layout="vertical"></p-divider>

        <div>
           <div class="card">
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Agregar" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button> 
        </ng-template>

        <ng-template pTemplate="right">           
            <button pButton pRipple label="Exportar" icon="pi pi-file-excel" class="p-button-help" (click)="exportToExcel()"></button>
        </ng-template>
    </p-toolbar>

    <p-table #dt id="excel-table" [value]="estudiante" [rows]="5" [rowsPerPageOptions]="[5,10,20,30,60]" [paginator]="true" [globalFilterFields]="['nombres','apellidos','id_estudiante', 'curso_id_curso']" 
    responsiveLayout="scroll" editMode="row"
        [(selection)]="selectedEstudiante" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} estudiantes" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Estudiantes</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Buscar..." /> 
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <!-- <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th> -->
                <!-- <th pSortableColumn="documento">Identificación </th> -->
                <th pSortableColumn="nombre">Nombres </th>           
                <th pSortableColumn="apellido">Apellidos</th>
                <th pSortableColumn="curso">Curso</th>   
                <!-- <th pSortableColumn="correo">Correo </th>          -->
                <th pSortableColumn="acciones">Acciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-lista let-editing="editing" let-ri="rowIndex">
            <tr  [pEditableRow]="lista">
                <!-- <td>
                    <p-tableCheckbox [value]="lista"></p-tableCheckbox>
                </td> -->
                <!-- <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="number" [(ngModel)]="lista.id_estudiante">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{lista.id_estudiante}}
                        </ng-template>
                    </p-cellEditor>                 
                </td> -->
                
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="lista.nombres">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{lista.nombres}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="lista.apellidos">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{lista.apellidos}}
                        </ng-template>
                    </p-cellEditor>
                </td>

                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="lista.id_curso">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{lista.id_curso}}
                        </ng-template>
                    </p-cellEditor>               
                </td>
                 
                <!-- <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="lista.correo">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{lista.correo}}
                        </ng-template>
                    </p-cellEditor>   
                </td>                                    -->
                <td>
                    <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(lista)" pTooltip="Editar" class="p-button-rounded p-button-text"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(lista)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(lista, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
                    <button *ngIf="!editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-trash" (click)="deleteStudent(lista)" pTooltip="Eliminar" class="p-button-rounded p-button-text p-button-danger"></button>    
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                En total hay {{estudiantes ?estudiantes.length : 0 }} estudiantes.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="estudianteDialog" [style]="{width: '450px'}" header="Nuevo estudiante" [modal]="true" styleClass="p-fluid">
    <form action="registro" #loginForm="ngForm" >
  
        <div style="text-align: center;" >
            <b>Formulario para nuevo estudiante</b>
        </div>
        <br>
        <!-- <div class="field col-12 md:col-12">
            <span class="p-float-label p-input-icon-right">
                <i class="pi pi-credit-card"></i>
                <input type="number" name="id_estudiante"  pInputText class="p-inputtext-sm" [(ngModel)]="registroEstudiante.id_estudiante"
                [required]="true"> 
                <label for="inputtext">Número de documento</label>
            </span>
        </div> -->
        <div class="field col-12 md:col-12">
            <span class="p-float-label p-input-icon-right">
                <i class="pi pi-user-edit"></i>
                <input type="text" name="nombres" pInputText class="p-inputtext-sm" [(ngModel)]="registroEstudiante.nombres" [required]="true"> 
                <label for="inputtext">Nombres</label>
            </span>
        </div>
        <div class="field col-12 md:col-12">
            <span class="p-float-label p-input-icon-right">
                <i class="pi pi-user-edit"></i>
                <input type="text" name="apellidos" pInputText class="p-inputtext-sm" [(ngModel)]="registroEstudiante.apellidos" [required]="true" > 
                <label for="inputtext">Apellidos</label>
            </span>
        </div>
        <!-- <div class="field col-12 md:col-12">
            <span class="p-float-label p-input-icon-right">
                <i class="pi pi-envelope"></i>
                <input type="email" name="correo" pInputText class="p-inputtext-sm" [(ngModel)]="registroEstudiante.correo" [required]="true"> 
                <label for="inputtext">Correo</label>
            </span>
        </div> -->
    
        <div class="field col-12 md:col-12">
            <span class="p-float-label p-input-icon-right">
                <i class="pi pi-star-fill"></i>
                <input type="number" name="id_curso" pInputText class="p-inputtext-sm" [(ngModel)]="registroEstudiante.id_curso" [required]="true"> 
                <label for="inputtext">Curso</label>
            </span>
        </div>
       
        <div class="field col-12 md:col-12">
            <span class="p-float-label p-input-icon-right">
                <i class="pi pi-key"></i>
                <input type="password" name="password" pInputText class="p-inputtext-sm" [(ngModel)]="registroEstudiante.password" [required]="true">             
                <label for="inputtext">Contraseña</label>
            </span>
    
        </div>
      
        <div class="formgrid grid">
            <div class="col-6">
                <button pButton  type="button" pRipple label="Cancelar" icon="pi pi-times"
                 class="p-button-outlined p-button-rounded p-button-danger" (click)="hideDialog()" ></button>
            </div>
            <div class="col-6">
                <button pButton  type="button" pRipple label="Agregar" icon="pi pi-check" [disabled]="loginForm.form.invalid"
                 class="p-button-outlined p-button-rounded p-button-success" (click)="registrarEstudiante()" ></button>
            </div>
            
            
        </div> 
        
    
      
    </form>
    
</p-dialog>
 
        </div>
    </div>
</div>


<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
