<main class="contenedor">
    <img
      [src]="'assets/images/authImagenes/MonoLuna.jpg'"
      alt="MonoLuna Mono Luna"
      class="img"
    />
  
    <div class="form">
      <p-card>
        <div class="col-4">
          <button pButton type="button" label="Registrarse" class="p-button-info"></button>  
       </div>
          
          <img
          [src]="'assets/images/authImagenes/Logo.png'"
          alt="MonoCohete Mono"
          class="logo"
        />
        <p>Bienvenid@, por favor ingresa tus datos para poder ingresar</p>
        <p>Selecciona tu rol:</p>
        
        <div class="field col-12 form-element">

          <p-selectButton 
              [options]="types"
              (onOptionClick)="changeType($event)">   
          </p-selectButton>
      
      </div>

        
        <!--Formulario de estudiante-->
        <div class=" field col-12  form-element" >
          <span *ngIf="typeName == 'Estudiante'" >
              <app-ingreso-estudiante></app-ingreso-estudiante>
          </span>
      </div>

      <!--Formulario de profesor-->
      <div class=" field col-12  form-element" >
          <span *ngIf="typeName == 'Profesor'" >
              <app-ingreso-profesor></app-ingreso-profesor>
          </span>
      </div>

      </p-card>
    </div>
  </main>
  