<div class="flex">
    <p-card header="Sign to all"  [style]="{width: '280px'}" styleClass="p-card-shadow">
        <app-panel-menu></app-panel-menu>
    </p-card>
    <p-divider layout="vertical"></p-divider>
    <div>
        <app-breadcrumb [items]="ruta" ></app-breadcrumb>
        <div>
            <p-divider></p-divider>
            <app-modulo-matematicas *ngIf="curso; else modulo"></app-modulo-matematicas>
            <ng-template #modulo>
                <app-modulo-espannol #modulo></app-modulo-espannol>
            </ng-template>
        </div>
    </div>
</div>
