<div class="row grid-container">
    <h2 style="margin-left: 10px;">Ahorcado</h2>
    <p-divider style="margin-top: -3%;" type="dashed"></p-divider>
    <div style="margin-top: -1%;" class="col text-center grid-container2">
        <div class="img-container">
            <div class="col">
                <img src="../../../../../assets/images/ActEspannol/ahorcado/{{ intentos }}.png" class="ahorcado-img">
            </div>
        </div>
        <h3>Intentos <small> {{ intentos }} / 9</small></h3>
        <div class="col text-center">
            <h2>{{palabraOculta}}</h2>
        </div>
    </div>
    <div *ngIf="gano" class="row">
        <div class="col text-center">
            <h1> ¡FELICIDADES HAS GANADO! </h1>
        </div>
    </div>
    
    <div *ngIf="perdio" class="row">
        <div class="col text-center">
            <h1> HAS PERDIDO :( </h1>
            <h4> {{ palabra }} </h4>
        </div>
    </div>
    
    <div class="row" *ngIf="!gano && !perdio">
        <div class="col text-center">
            <button pButton (click)="comprobar( letra )" *ngFor="let letra of letras" class="p-button-warning espacio">{{letra}}</button>
        </div>
    </div>
</div>