<p-toast></p-toast>

<form action="registro"  #loginForm="ngForm">

    <div class="field col-12 md:col-4">
        <span>
              <p-dropdown name="id_curso" placeholder="Curso" [options]="cursos" [(ngModel)]="inicioSesionEstudiante.id_curso"
              [style]="{'width':'44vmax'}"></p-dropdown>
        </span>
    </div>

    <div class="field col-12 md:col-4">
        <span class="p-float-label p-input-icon-right">
            <i class="pi pi-key"></i>
            <input type="password" name="password" pInputText [(ngModel)]="inicioSesionEstudiante.password" required> 
            <label for="inputtext">Contraseña</label>
        </span>
    </div>

    <div class="boton">
        <button type="button" label="Iniciar Sesión" icon="pi pi-sign-in" iconPos="left"
        (click)="iniciarSesionEstudiante()"
        pButton [disabled]="loginForm.form.invalid" ></button>   
    </div>
    
</form>
