<form action="registro">
       
    <div class="field col-12 md:col-4">
        <span class="p-float-label p-input-icon-right">
            <i class="pi pi-credit-card"></i>
            <input type="text" name="id_profesor" pInputText [(ngModel)]="inicioSesionProfesor.id_profesor"> 
            <label for="inputtext">Cédula</label>
        </span>
    </div>
    
    <div class="field col-12 md:col-4">
        <span class="p-float-label p-input-icon-right">
            <i class="pi pi-key"></i>
            <input type="password" name="password" pInputText [(ngModel)]="inicioSesionProfesor.password"> 
            <label for="inputtext">Contraseña</label>
        </span>
    </div>

    <div class="boton">
        <p-button 
            routerLink="/actividades" 
            label="Iniciar Sesión" 
            (click)="iniciarSesionProfesor()"
            icon="pi pi-sign-in" 
            iconPos="left"
        ></p-button>
    </div>
    
</form>
