<form action="registro"  #loginForm="ngForm">
       
    <div class="field col-12 md:col-4">
        <span class="p-float-label p-input-icon-right">
            <i class="pi pi-credit-card"></i>
            <input type="text" name="id_profesor" pInputText [(ngModel)]="inicioSesionProfesor.id_profesor" required> 
            <label for="inputtext">Cédula</label>
        </span>
    </div>
    
    <div class="field col-12 md:col-4">
        <span class="p-float-label p-input-icon-right">
            <i class="pi pi-key"></i>
            <input type="password" name="password" pInputText [(ngModel)]="inicioSesionProfesor.password" required> 
            <label for="inputtext">Contraseña</label>
        </span>
    </div>

    <div class="boton">
        <button type="button" label="Iniciar Sesión" icon="pi pi-sign-in" iconPos="left"
        (click)="iniciarSesionProfesor()"
        pButton [disabled]="loginForm.form.invalid" ></button>   
    </div>
    
</form>
