<form action="registro">
  
      <div class="field col-12 md:col-4">
          <span class="p-float-label p-input-icon-right">
              <i class="pi pi-credit-card"></i>
              <input type="text" name="id_profesor" pInputText class="p-inputtext-sm" [(ngModel)]="registroProfesor.id_profesor"> 
              <label for="inputtext">Cédula</label>
          </span>
      </div>
      <div class="field col-12 md:col-4">
          <span class="p-float-label p-input-icon-right">
              <i class="pi pi-user"></i>
              <input type="text" name="nombres" pInputText class="p-inputtext-sm" [(ngModel)]="registroProfesor.nombres" > 
              <label for="inputtext">Nombres</label>
          </span>
      </div>
      <div class="field col-12 md:col-4">
          <span class="p-float-label p-input-icon-right">
              <i class="pi pi-user"></i>
              <input type="text" name="apellidos" pInputText class="p-inputtext-sm" [(ngModel)]="registroProfesor.apellidos"> 
              <label for="inputtext">Apellidos</label>
          </span>
      </div>
      <div class="field col-12 md:col-4">
          <span class="p-float-label p-input-icon-right">
              <i class="pi pi-envelope"></i>
              <input type="email" name="correo" pInputText class="p-inputtext-sm" [(ngModel)]="registroProfesor.correo"> 
              <label for="inputtext">Correo</label>
          </span>
      </div>
      <div class="field col-12 md:col-4">
          <span class="p-float-label p-input-icon-right">
              <i class="pi pi-key"></i>
              <p-password name="password" [(ngModel)]="registroProfesor.password"></p-password>
              <label for="inputtext">Contraseña</label>
          </span>

      </div>
      <div class="field col-12 md:col-4">
          <span class="p-float-label p-input-icon-right">
              <i class="pi pi-key"></i>
              <p-password></p-password>
              <label for="inputtext">Confirmar Contraseña</label>
          </span>
      </div>
      <p-button label="Registrarse" (click)="registrarProfesor()"></p-button>
      
  
    
</form>
