<form action="registro">
  
      <div class="field col-12 md:col-4">
          <span class="p-float-label p-input-icon-right">
              <i class="pi pi-credit-card"></i>
              <input type="text" name="id_profesor" pInputText [(ngModel)]="registroProfesor.id_profesor"> 
              <label for="inputtext">Cédula</label>
          </span>
      </div>
      <div class="field col-12 md:col-4">
          <span class="p-float-label p-input-icon-right">
              <i class="pi pi-user"></i>
              <input type="text" name="nombres" pInputText [(ngModel)]="registroProfesor.nombres" > 
              <label for="inputtext">Nombres</label>
          </span>
      </div>
      <div class="field col-12 md:col-4">
          <span class="p-float-label p-input-icon-right">
              <i class="pi pi-user"></i>
              <input type="text" name="apellidos" pInputText [(ngModel)]="registroProfesor.apellidos"> 
              <label for="inputtext">Apellidos</label>
          </span>
      </div>
      <div class="field col-12 md:col-4">
          <span class="p-float-label p-input-icon-right">
              <i class="pi pi-envelope"></i>
              <input type="email" name="correo" pInputText [(ngModel)]="registroProfesor.correo"> 
              <label for="inputtext">Correo</label>
          </span>
      </div>
      <div class="field col-12 md:col-4">
          <span class="p-float-label p-input-icon-right">
              <i class="pi pi-key"></i>
              <input type="password" pPassword name="password" [(ngModel)]="registroProfesor.password" />
              <label for="inputtext">Contraseña</label>
          </span>

      </div>
      <div class="field col-12 md:col-4">
          <span class="p-float-label p-input-icon-right">
              <i class="pi pi-key"></i>
              <input type="password" pPassword />
              <label for="inputtext">Confirmar Contraseña</label>
          </span>
      </div>
      <div class="boton">
        <p-button  
            label="Registrarse"
            (click)="registrarProfesor()"
            icon="pi pi-send" 
            iconPos="left"
        ></p-button>
      </div>
</form>
