<div>
	<div id="par" *ngFor='let nprow of numPicker; let i=index' class="d-flex justify-content-center">
	<div *ngFor='let npcell of nprow; let j=index' class="d-flex justify-content-center">
			<!-- <button class="square enable" (click)="valueFilled(npcell.v)">
				{{npcell.v}}
			</button> -->
			<button style="margin-top: 1rem;margin-right: 1rem;" pButton pRipple type="button"  (click)="valueFilled(npcell.v)"
			class="p-button-rounded p-button-help p-button-outlined">{{npcell.v}}</button>
		</div>
	</div>

	<div class="text-center">
		<button  style="margin-top: 1rem;" icon="pi pi-times-circle" pButton pRipple type="button" label="Cerrar" class="p-button-raised p-button-danger p-button-text"
		(click)="valueFilled(0)"></button>	
	</div>
	<br>

</div>

