<div class="card">
    <h2>Memorama</h2>
    <p-divider></p-divider>
    <h3 style="text-align: center;">Movimientos: {{steps}}  Tiempo: {{timer}}</h3>
    <p-toast></p-toast>
    <table class="container">
        <div class="container-div">
            <tr *ngFor="let r of rows; let x of [0,1,2]">
                <td *ngFor="let c of cols; let i of [0,3,6,9]">
                    <div class="container-img">
                        <!--  muestra el fondo -->
                    <div *ngIf = "photosArr[randArr[x + i]] !== undefined && !photosArr[randArr[x + i]].paired ">
                        <img (click)="imageClicked(photosArr[randArr[x + i]])" src="/assets/images/ActEspañol/memorama/Tarjeta.jpg" *ngIf = "!photosArr[randArr[x + i]].clicked"/>
                    </div>
    
                    <!-- si la imagen es seleccionada, la muestra-->
                    <div *ngIf = "photosArr[randArr[x + i]].paired === undefined || !photosArr[randArr[x + i]].paired ">
                        <img (click)="imageClicked(photosArr[randArr[x + i]])" [src]="photosArr[randArr[x + i]].avatar" *ngIf = "photosArr[randArr[x + i]].clicked"/>
                    </div>
                    
                        <!-- si ambas imagenes son iguales, se muestra un trofeo -->
                    <div *ngIf = "photosArr[randArr[x + i]] !== undefined && photosArr[randArr[x + i]].paired ">
                        <img  [src]="photosArr[randArr[x + i]].avatar" />
                    </div>
                    </div>
                </td>
            </tr>
        </div>
        <div class="boton">
            <button pButton pRipple type="button" icon="pi pi-undo" iconPos="left" label="Nueva partida" class="p-button-rounded p-button-help" (click)="newGame()"></button>
        </div>
    </table>
</div>
